<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blooddonorviewapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodDonorViewApp">

        <!-- Main Activity - Entry Point -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Database Activity -->
        <activity
            android:name=".DatabaseActivity"
            android:label="Database"
            android:parentActivityName=".MainActivity" />

        <!-- Donors Activity -->
        <activity
            android:name=".DonorsActivity"
            android:label="Donors"
            android:parentActivityName=".DatabaseActivity" />

        <!-- Donation Events Activity -->
        <activity
            android:name=".DonationEventsActivity"
            android:label="Donation Events"
            android:parentActivityName=".DatabaseActivity" />

        <!-- User Activity -->
        <activity
            android:name=".UserActivity"
            android:label="User"
            android:parentActivityName=".MainActivity" />

        <!-- Donor Details Activity -->
        <activity
            android:name=".DonorDetailsActivity"
            android:label="Donor Details"
            android:parentActivityName=".UserActivity" />

    </application>

</manifest>